PORT=4000
MONGO_URI="mongodb://0.0.0.0:27017/dotpassport" # MongoDB connection URI, feel free to install it locally or get it through mongodb atlas.
NODE_ENV=test # it can be 'development', 'test', or 'production'
SUBSCAN_API_KEY= # please find it on subscan website https://support.subscan.io/
JWT_SECRET="some_secret"
JWT_REFRESH_SECRET="some_refresh_secret"